:root { 
  font-size: 16px; 
}

 body {
  margin-bottom: 10px;
  padding: 0; 
 }

.container {
    display: flex;
    align-items: center;
    }

    a:hover {  color: #D2B48C; } 
    
 .roww {

    background: #008080;
  padding: 3vh 0 0 1vw;
    letter-spacing: .5px;
    height: 30px;
    width: 100%;
    text-transform: uppercase;
    cursor:pointer;
    font-family: "Istok Web", sans-serif;
    font-size: 1.2rem;
    word-spacing: .5vw;
}

.words{
  font-size: .9rem;
}

.dropDown:hover .underDropD {
    display: block;
}

.dropDown {
    
    display : inline-block;
    font-size : .9rem;
    position : relative;
}

.underDropD {
        position: absolute;
    background-color: #106088;
    display: none;
padding: 1vw ;
}

@media only screen and (min-width: 500px) {
 button{
    display: none;
  }

}

  @media only screen and (max-width: 500px) {
 .roww {
    display: block;
    }

    button{
width:80px 
    }

    span{
      display:none;
    }
}

 
 